doctype html
html(lang="pt-br")
	head
		title Matriarcal | Erro
		link(rel='apple-touch-icon', sizes='180x180', href='/favicon/apple-touch-icon.png')
		link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16x16.png')
		link(rel='shortcut icon', href='/favicon/favicon.ico')
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="/css/app.css", rel='stylesheet')
	body
		.error
			h1.error__title Oops, erro 500!
			h2.error__subtitle Tente novamente, se o erro persistir, entre em contato com o administrador!
			small.error__small=err